/* Importando fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(32, 31, 31);
}

.container {
  width: 450px;
  background: #111;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  text-align: center;
}

.img img {
  width: 70px;
}

.p-1 {
  font-size: 22px;
  color: white;
  margin-bottom: 20px;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item label {
  color: rgb(223, 223, 225);
  font-size: 16px;
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

.item input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #222;
  color: white;
  outline: none;
}

.item input:focus {
  border: 1px solid #7157e9;
  background: #333;
}

.button {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submit, .submit2 {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  color: white;
  background: rgb(113, 77, 231);
  cursor: pointer;
}

.submit:hover {
  background: rgb(125, 69, 182);
}

.or {
  color: white;
  font-size: 14px;
}
@media (max-width: 768px) {
  .container{
    width: 350px;
  }
  body {
    height: 80vh;
  }
}